{% extends ':app:base.html.twig' %}
{% form_theme form ':app:forms.html.twig' %}
{% from ':app:form_actions.html.twig' import create %}

{% block page_title %}
    <strong>Crear</strong>
{% endblock %}

{% block page_content %}
    <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Configuración <small></small></h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    {{ form_start(form, {'attr': {'class': 'form-horizontal form-label-left'}}) }}
                    {{ form_widget(form) }}
                    {% block form %}
                        {{ form_widget(form) }}
                    {% endblock %}
                    {{ create() }}
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}