{% extends 'base.html.twig' %}

{% block body %}
    <h1>Empleado</h1>

    <table>
        <tbody>
            <tr>
                <th>Telefono</th>
                <td>{{ empleado.telefono }}</td>
            </tr>
            <tr>
                <th>Apellido</th>
                <td>{{ empleado.apellido }}</td>
            </tr>
            <tr>
                <th>Fechanacimiento</th>
                <td>{{ empleado.fechaNacimiento }}</td>
            </tr>
            <tr>
                <th>Fecha_ingreso</th>
                <td>{% if empleado.fechaingreso %}{{ empleado.fechaingreso|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Finretiro</th>
                <td>{% if empleado.finRetiro %}{{ empleado.finRetiro|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ empleado.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('empleado_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('empleado_edit', { 'id': empleado.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
