{% extends ':app:list.html.twig' %}


{% block page_breadcrumb %}
    {{ parent() }}
    <li>
        Listado de Proyectos
    </li>
{% endblock %}

{% block acciones %}
    {% embed ':app:list_actions.html.twig' %}
        {% block links_acciones %}
            <a href="{{ path('proyecto_new') }}" class="btn btn-primary"><i class="fa fa-plus"></i> Nuevo</a>

        {% endblock %}
    {% endembed %}
{% endblock %}

{% block listado -%}

    <table class="table table-striped table-bordered table-hover datatable">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Slug</th>
            <th>Logo</th>
            <th>Web</th>
            <th>Facebook</th>
            <th>Twitter</th>
            <th>Youtube</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.nombre }}</td>
                <td>{{ entity.descripcion }}</td>
                <td>{{ entity.slug }}</td>
                <td>{{ entity.logo }}</td>
                <td>{{ entity.web }}</td>
                <td>{{ entity.facebook }}</td>
                <td>{{ entity.twitter }}</td>
                <td>{{ entity.youtube }}</td>
                <td><a href="{{ path('proyecto_edit', {'id': entity.id}) }}"><span class="fa fa-pencil fontsize16"
                                                                                      style="margin-right:4px;"
                                                                                      data-toggle="tooltip"
                                                                                      data-placement="top" title=""
                                                                                      data-original-title="Editar"></span></a>
                    <a href="javascript:if(confirm('Esta seguro que desea ELIMINAR la MenuItem {{ entity }}? ALERTA: Esta accion no podra ser deshecha'))window.location='{{ path('proyecto_delete', {'id': entity.id}) }}'"><span
                                class="fa fa-times-circle fontsize16" style="color:#F00;" data-toggle="tooltip"
                                data-placement="top" title="Eliminar"></span></a>                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}