{% extends 'base.html.twig' %}

{% block body %}
    <h1>Proyectos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Slug</th>
                <th>Logo</th>
                <th>Web</th>
                <th>Facebook</th>
                <th>Twitter</th>
                <th>Youtube</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for proyecto in proyectos %}
            <tr>
                <td><a href="{{ path('proyecto_show', { 'id': proyecto.id }) }}">{{ proyecto.id }}</a></td>
                <td>{{ proyecto.nombre }}</td>
                <td>{{ proyecto.descripcion }}</td>
                <td>{{ proyecto.slug }}</td>
                <td>{{ proyecto.logo }}</td>
                <td>{{ proyecto.web }}</td>
                <td>{{ proyecto.facebook }}</td>
                <td>{{ proyecto.twitter }}</td>
                <td>{{ proyecto.youtube }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('proyecto_show', { 'id': proyecto.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('proyecto_edit', { 'id': proyecto.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('proyecto_new') }}">Create a new proyecto</a>
        </li>
    </ul>
{% endblock %}
