{% extends 'base.html.twig' %}

{% block body %}
    <h1>Subsidios list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for subsidio in subsidios %}
            <tr>
                <td><a href="{{ path('subsidio_show', { 'id': subsidio.id }) }}">{{ subsidio.id }}</a></td>
                <td>{{ subsidio.nombre }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('subsidio_show', { 'id': subsidio.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('subsidio_edit', { 'id': subsidio.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('subsidio_new') }}">Create a new subsidio</a>
        </li>
    </ul>
{% endblock %}
