{% extends 'base.html.twig' %}

{% block body %}
    <h1>Subsidio</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ subsidio.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ subsidio.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('subsidio_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('subsidio_edit', { 'id': subsidio.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
